/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.menu {
    position: relative;
}

#toggleMenu {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #2c3e50;
    color: #ecf0f1;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.sidebar.open {
    left: 0;
}

.menu-header {
    text-align: center;
    padding: 20px;
}

.menu-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    padding: 15px 20px;
    border-bottom: 1px solid #34495e;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu-items li:hover {
    background-color: #16a085;
}

.content {
    margin-left: 10px;
    padding: 20px;
}
