

/* Reset básico */
body, h1, p, a, label {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo do body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d1d1d;
    
}

/* Container principal */
.container {
    width: 100%;
    max-width: 400px;
    background: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;

}

/* Logo no canto superior esquerdo */
.header {
    text-align: center;
}

.logo {
    width: 50px;
    height: auto;
}

#logo_img{
    width: 150px;
}

/* Estilo da caixa de login */
.login-box h1 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;

}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background: #0072ec;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition:  0.3s;
}

.btn:hover {
    background: #004b9b;
}

/* Registro */
.register {
    margin-top: 15px;
}

.register p {
    font-size: 14px;
    color: #ffffff;
}

.register a {
    color: #006ee4;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}
